h1,
h2,
h3,
a {
  font-family: "Lora";
}
div {
  font-family: "Alegreya";
}
.meta {
  font-weight: bold;
}

.ui.text.container {
  max-width: 900px !important;
}

.flag:hover {
  cursor: pointer;
  transform: scale(1.2);
}
